/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
.header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
}

/* Todo Container Styles */
.todo-container {
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Input Group Styles */
.input-group {
    display: flex;
    margin-bottom: 20px;
}

.todo-input {
    flex-grow: 1;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s;
}

.todo-input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

.add-button {
    padding: 12px 20px;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #27ae60;
}

/* Todo List Styles */
.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item:hover {
    background-color: #f9f9f9;
}

.todo-item span {
    flex-grow: 1;
    margin-right: 15px;
    font-size: 1.1em;
    color: #444;
}

.todo-item .edit-button, .todo-item .delete-button , .todo-item .start-timer-button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.todo-item .edit-button:hover {
    background-color: #2980b9;
}

.todo-item .delete-button:hover {
    background-color: #c0392b;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
}

.timer-input {
    width: 60px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.timer-expired {
    background-color: #fce5e5;
}

